.assine {
  position: relative;
}

.assine .folha_1 {
  position: absolute;
  z-index: 100;
  left: 3%;
  bottom: -9%;
}

.assine .folha_2 {
  position: absolute;
  z-index: 100;
  right: 3%;
  bottom: -5%;
}

.como-funciona {
  padding-top: 50px;
}

.como-funciona h6,
.como-funciona p {
  font-family: 'Montserrat', sans-serif;
}

.como-funciona h3 {
  font-family: 'Rosellinda Alyamore';
  color: #153707;
  font-size: 85px;
  line-height: 85px;
  margin: 0 0 20px 0;
}

.como-funciona h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #bab165;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}

.como-funciona p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #616161;
  margin-bottom: 20px;
  margin-top: 15px;
}

.img-como-funciona {
  margin-top: -3%;
  display: inline;
  margin-bottom: -3%;
}

.plano {
  -webkit-box-shadow: 0px 20px 15px 0px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 20px 15px 0px rgba(50, 50, 50, 0.41);
}

.plano .box {
  padding-top: 90px;
  padding-bottom: 90px;
}

.plano .box h3 {
  font-family: 'Big Caslon';
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  margin: 0 0 15px 0;
}

.plano .box p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.plano .box p span {
  font-weight: 400;
}

.plano .box a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 11px;
  color: #ffffff;
  background-color: #70a511;
  font-size: 17px;
  line-height: 17px;
  padding: 6px 10px;
  margin-top: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.plano .box a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.plano .trimestral,
.plano .quadrimestral,
.plano .semestral,
.plano .anual {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.plano .trimestral {
  background: url(../images/trimestral.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 105%;
}

.plano .quadrimestral {
  background: url(../images/quadrimestral.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 105%;
}

.plano .semestral {
  background: url(../images/semestral.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 105%;
}

.plano .anual {
  background: url(../images/anual.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 105%;
}

.plano .trimestral:hover,
.plano .quadrimestral:hover,
.plano .semestral:hover,
.plano .anual:hover {
  background-size: 100%;
}

/* Extra Small */
@media (max-width: 767px) {
  .assine .folha_1 {
    max-width: 17%;
  }
  .assine .folha_2 {
    max-width: 15%;
  }
  .como-funciona {
    padding-top: 20px;
  }
  .como-funciona h3 {
    font-size: 65px;
    line-height: 65px;
  }
  .img-como-funciona {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .plano .box {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .plano .box h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .plano .box p {
    font-size: 13px;
    line-height: 20px;
  }
  .plano .box a {
    font-size: 15px;
    line-height: 15px;
  }
  .plano .trimestral {
    background: url(../images/trimestral.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .quadrimestral {
    background: url(../images/quadrimestral.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .semestral {
    background: url(../images/semestral.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .anual {
    background: url(../images/anual.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .trimestral:hover,
  .plano .quadrimestral:hover,
  .plano .semestral:hover,
  .plano .anual:hover {
    background-size: cover;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .assine .folha_1 {
    max-width: 13%;
  }
  .assine .folha_2 {
    max-width: 11%;
  }
  .plano .box {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .plano .box p {
    font-size: 14px;
    line-height: 23px;
  }
  .plano .trimestral {
    background: url(../images/trimestral.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .quadrimestral {
    background: url(../images/quadrimestral.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .semestral {
    background: url(../images/semestral.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .anual {
    background: url(../images/anual.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .trimestral:hover,
  .plano .quadrimestral:hover,
  .plano .semestral:hover,
  .plano .anual:hover {
    background-size: cover;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .plano .box {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

/* Large */
/*# sourceMappingURL=home.css.map */