@font-face {
  font-family: 'Big Caslon';
  src: url("../fonts/BigCaslon-Medium.eot");
  src: url("../fonts/BigCaslon-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BigCaslon-Medium.woff2") format("woff2"), url("../fonts/BigCaslon-Medium.woff") format("woff"), url("../fonts/BigCaslon-Medium.ttf") format("truetype"), url("../fonts/BigCaslon-Medium.svg#BigCaslon-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rosellinda Alyamore';
  src: url("../fonts/RosellindaAlyamore.eot");
  src: url("../fonts/RosellindaAlyamore.eot?#iefix") format("embedded-opentype"), url("../fonts/RosellindaAlyamore.woff2") format("woff2"), url("../fonts/RosellindaAlyamore.woff") format("woff"), url("../fonts/RosellindaAlyamore.ttf") format("truetype"), url("../fonts/RosellindaAlyamore.svg#RosellindaAlyamore") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueMedium.eot");
  src: url("../fonts/HelveticaNeueMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueMedium.woff") format("woff"), url("../fonts/HelveticaNeueMedium.ttf") format("truetype"), url("../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLight.eot");
  src: url("../fonts/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/HelveticaNeueLight.woff") format("woff"), url("../fonts/HelveticaNeueLight.ttf") format("truetype"), url("../fonts/HelveticaNeueLight.svg#HelveticaNeueLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #7d6b3f;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 60px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 55px;
  line-height: 27px;
  display: block;
  margin-bottom: 1px;
  padding: 17px 15px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right 14px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #bab165;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right 5px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #bab165;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background: #0e2601;
  background: -webkit-gradient(linear, left top, right top, from(#0e2601), color-stop(51%, #153607), to(#0e2601));
  background: linear-gradient(90deg, #0e2601 0%, #153607 51%, #0e2601 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e2601", endColorstr="#0e2601", GradientType=1);
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
  border-radius: 10px;
}

.cookies .box p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  text-decoration: underline;
  color: #fff;
}

.cookies .box .btn_cookie {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #233e0b;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e4c864;
}

/* Extra Small */
@media (max-width: 767px) {
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .float-box {
    bottom: 30%;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
}

.menu {
  position: fixed;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  z-index: 600;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  min-height: auto;
  margin-bottom: 0px;
  padding-top: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu .navbar-collapse,
.menu .navbar-form {
  border-color: transparent;
}

.menu .nav > li {
  margin-top: 8px;
}

.menu .nav > li > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  padding: 7px 8px;
  border-radius: 10px;
}

.menu .navbar-brand {
  float: left;
  height: auto;
  padding: 0;
  margin-left: 0px;
}

.menu .navbar-brand img {
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu .navbar-nav > li > a:focus,
.menu .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #bab165;
}

.menu .navbar-nav > li > a.active {
  color: #ffffff;
  background-color: transparent;
}

.redes {
  display: inline-block;
  width: 100%;
  margin-right: 10px;
}

.redes a {
  width: 29px;
  height: 29px;
  float: right;
}

.redes .whatsapp {
  background: url(../images/whatsapp.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.redes .whatsapp:hover {
  background: url(../images/whatsapp_hover.png);
}

.redes .instagram {
  background: url(../images/insta.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

.redes .instagram:hover {
  background: url(../images/insta_hover.png);
}

.redes .facebook {
  background: url(../images/face.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.redes .facebook:hover {
  background: url(../images/face_hover.png);
}

/* Extra Small */
@media (max-width: 767px) {
  .menu {
    background: rgba(0, 0, 0, 0.6) !important;
    padding-top: 0px;
    height: 57px;
  }
  .menu .navbar-brand {
    margin-left: 5px;
  }
  .menu .navbar-brand img {
    width: 42%;
    padding-top: 5px;
  }
  .menu .nav > li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu .nav > li > a {
    font-size: 12px;
    line-height: 12px;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 0px;
    background-color: transparent;
    border-radius: 0;
  }
  .menu #navbar {
    background: rgba(0, 0, 0, 0.6);
    margin-top: 11px;
  }
  .menu .redes {
    display: none;
  }
  .menu .navbar-nav {
    margin: 0px -15px;
  }
  .menu .navbar-toggle {
    margin-top: 11px;
    margin-right: 5px;
    border-color: #ffffff;
    margin-bottom: 0;
  }
  .menu .navbar-collapse {
    border-top: 0px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .menu .navbar-toggle:focus,
  .menu .navbar-toggle:hover {
    background-color: transparent;
  }
  .menu .navbar-collapse,
  .menu .navbar-form {
    border-color: transparent;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .menu.active,
  .menu.active2 {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 7px;
  }
  .menu.active .navbar-brand img,
  .menu.active2 .navbar-brand img {
    width: 30%;
  }
  .menu {
    padding-top: 15px;
  }
  .menu .navbar-brand img {
    width: 30%;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu.active,
  .menu.active2 {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 7px;
  }
  .menu.active .navbar-brand img,
  .menu.active2 .navbar-brand img {
    width: 20%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .menu.active,
  .menu.active2 {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 7px;
  }
  .menu.active .nav > li,
  .menu.active2 .nav > li {
    margin-top: 0px;
    margin-bottom: 3px;
  }
  .menu.active .nav > li > a,
  .menu.active2 .nav > li > a {
    padding: 7px 6px 5px;
    font-size: 10px;
    line-height: 10px;
  }
  .menu.active .navbar-brand img,
  .menu.active2 .navbar-brand img {
    width: 20%;
  }
}

.assine {
  position: relative;
}

.assine .folha_1 {
  position: absolute;
  z-index: 100;
  left: 3%;
  bottom: -9%;
}

.assine .folha_2 {
  position: absolute;
  z-index: 100;
  right: 3%;
  bottom: -5%;
}

.assine .folha_3 {
  position: absolute;
  z-index: 100;
  right: 3%;
  bottom: -5%;
}

.vantagens {
  background: url(../images/bg-vantagens.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 180px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  margin-top: -5px;
}

.vantagens .algumas-vantagens {
  background: url(../images/algumas-vantagens.jpg);
  background-size: cover;
  background-position: top center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.vantagens .algumas-vantagens h3 {
  font-family: 'Rosellinda Alyamore';
  color: #153707;
  font-size: 115px;
  line-height: 85px;
  margin: 0 0 20px 0;
}

.vantagens .algumas-vantagens .garantia {
  margin-top: 10px;
}

.vantagens .algumas-vantagens .garantia h4 {
  font-family: 'Montserrat', sans-serif;
  color: #2d5220;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}

.vantagens .algumas-vantagens .garantia p {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: bold;
  color: #bab165;
  line-height: 21px;
}

.como-funciona {
  padding-top: 50px;
}

.como-funciona h6,
.como-funciona p {
  font-family: 'Montserrat', sans-serif;
}

.como-funciona h3 {
  font-family: 'Rosellinda Alyamore';
  color: #153707;
  font-size: 85px;
  line-height: 85px;
  margin: 0 0 20px 0;
}

.como-funciona h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #bab165;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}

.como-funciona p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #616161;
  margin-bottom: 20px;
  margin-top: 15px;
}

.img-como-funciona {
  margin-top: -3%;
  display: inline;
  margin-bottom: -3%;
}

.plano {
  -webkit-box-shadow: 0px 20px 15px 0px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 20px 15px 0px rgba(50, 50, 50, 0.41);
  padding-bottom: 100px;
}

.plano .ouro {
  background-color: #c69e48;
}

.plano .prata {
  background-color: #646363;
}

.plano .bronze {
  background-color: #ae7550;
}

.plano .ouro,
.plano .prata,
.plano .bronze {
  height: 75px;
}

.plano .ouro h3,
.plano .prata h3,
.plano .bronze h3 {
  font-family: 'Big Caslon';
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  margin: 10px;
}

.plano .box {
  padding-bottom: 110px;
}

.plano .box h3 {
  font-family: 'Big Caslon';
  font-size: 50px;
  line-height: 40px;
  color: #ffffff;
  margin: 0 0 15px 0;
}

.plano .box p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
}

.plano .box p span {
  font-weight: 400;
}

.plano .box .btn-ouro {
  background-color: #c69e48;
}

.plano .box .btn-prata {
  background-color: #646363;
}

.plano .box .btn-bronze {
  background-color: #ae7550;
}

.plano .box a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  color: #ffffff;
  background-color: #70a511;
  font-size: 1.3vw;
  line-height: 17px;
  position: absolute;
  bottom: -100%;
  right: 20%;
  left: 20%;
  padding: 10px 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.plano .box a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.plano .dois-meses,
.plano .quatro-meses,
.plano .seis-meses {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.plano .dois-meses {
  background: url(../images/dois-meses.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 106%;
  padding-top: 18%;
}

.plano .quatro-meses {
  background: url(../images/quatro-meses.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 106%;
  padding-top: 18%;
}

.plano .seis-meses {
  background: url(../images/seis-meses.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 106%;
  padding-top: 18%;
}

.plano .dois-meses:hover,
.plano .quatro-meses:hover,
.plano .seis-meses:hover {
  background-size: 101%;
}

/* Extra Small */
@media (max-width: 767px) {
  .assine .folha_1 {
    max-width: 17%;
  }
  .assine .folha_2 {
    max-width: 15%;
  }
  .assine .folha_3 {
    max-width: 15%;
  }
  .vantagens {
    background: url(../images/bg-vantagens-mobile.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .vantagens .algumas-vantagens {
    background: url(../images/algumas-vantagens-mobile.jpg);
    background-size: cover;
    background-position: top center;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .vantagens .algumas-vantagens h3 {
    font-size: 70px;
    line-height: 55px;
    margin-bottom: 10px;
  }
  .vantagens .algumas-vantagens .garantia {
    margin-top: 20px;
  }
  .vantagens .algumas-vantagens .garantia h4 {
    font-size: 17px;
  }
  .vantagens .algumas-vantagens .garantia p {
    font-size: 13px;
  }
  .como-funciona {
    padding-top: 20px;
  }
  .como-funciona h3 {
    font-size: 65px;
    line-height: 65px;
  }
  .img-como-funciona {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .plano {
    padding-bottom: 0;
  }
  .plano .ouro,
  .plano .prata,
  .plano .bronze {
    height: 50px;
  }
  .plano .ouro h3,
  .plano .prata h3,
  .plano .bronze h3 {
    font-size: 32px;
    margin: 8px;
  }
  .plano .box {
    padding-top: 70px;
    padding-bottom: 120px;
  }
  .plano .box h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .plano .box p {
    font-size: 13px;
    line-height: 20px;
  }
  .plano .box a {
    font-size: 15px;
    line-height: 0px;
    bottom: 0;
    top: 150px;
    padding: 15px 5px;
  }
  .plano .dois-meses {
    background: url(../images/dois-meses.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .quatro-meses {
    background: url(../images/quatro-meses.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .seis-meses {
    background: url(../images/seis-meses.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .dois-meses:hover,
  .plano .quatro-meses:hover,
  .plano .seis-meses:hover {
    background-size: cover;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .assine .folha_1 {
    max-width: 13%;
  }
  .assine .folha_2 {
    max-width: 11%;
  }
  .vantagens .algumas-vantagens .garantia {
    margin-top: 20px;
  }
  .vantagens .algumas-vantagens .garantia h4 {
    font-size: 26px;
  }
  .vantagens .algumas-vantagens .garantia p {
    font-size: 16px;
  }
  .plano .ouro,
  .plano .prata,
  .plano .bronze {
    height: 55px;
  }
  .plano .ouro h3,
  .plano .prata h3,
  .plano .bronze h3 {
    font-size: 33px;
  }
  .plano .box {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .plano .box h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .plano .box p {
    font-size: 11px;
  }
  .plano .box a {
    bottom: -75%;
  }
  .plano .dois-meses {
    background: url(../images/dois-meses.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .quatro-meses {
    background: url(../images/quatro-meses.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .seis-meses {
    background: url(../images/seis-meses.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .plano .dois-meses:hover,
  .plano .quatro-meses:hover,
  .plano .seis-meses:hover {
    background-size: cover;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .plano .ouro,
  .plano .prata,
  .plano .bronze {
    height: 55px;
  }
  .plano .ouro h3,
  .plano .prata h3,
  .plano .bronze h3 {
    font-size: 35px;
  }
  .plano .box {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .plano .box h3 {
    font-size: 40px;
  }
  .plano .box p {
    font-size: 14px;
  }
  .plano .box a {
    bottom: -70%;
  }
}

/* Large */
/* Extra Small */
@media (max-width: 767px) {
  .caixa-de-azeites {
    padding-top: 35px;
  }
}

/* Small */
/* Medium */
/* Large */
footer .faixa-clube {
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url("../images/bg-info.jpg");
}

footer .faixa-clube p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}

footer .faixa-clube .topo {
  position: absolute;
  right: 0;
  bottom: -35px;
}

footer .bg-footer {
  background: url(../images/bg-rodape.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 30px;
}

footer .bg-footer .redes {
  padding-right: 10px;
}

footer .bg-footer .navbar-nav {
  float: right;
  padding-top: 7px;
}

footer .bg-footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .bg-footer .navbar-nav li > a {
  padding: 0 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer .bg-footer .navbar-nav li > a:focus,
footer .bg-footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .bg-footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

footer .bg-footer .tl {
  margin-top: 30px;
}

footer .bg-footer .tl p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  color: #ffffff;
}

/* Extra Small */
@media (max-width: 767px) {
  footer .faixa-clube {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  footer .faixa-clube p {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }
  footer .bg-footer {
    background: url(../images/bg-rodape-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 30px;
  }
  footer .bg-footer .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
  }
  footer .bg-footer .redes {
    padding-right: 0px;
    display: table;
    margin: 30px auto 0;
    width: auto;
  }
  footer .bg-footer .navbar-nav {
    float: none;
    display: table;
    margin: 0 auto;
    padding-top: 30px;
  }
  footer .bg-footer .navbar-nav li > a {
    border-right: 0px solid #ffffff;
    text-align: center;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  footer .bg-footer .tl {
    margin-top: 30px;
  }
  footer .bg-footer .tl .col-xs-12 {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  footer .bg-footer .tl {
    margin-top: 30px;
  }
  footer .bg-footer .tl .col-xs-12 {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

/* Large */
@media (min-width: 1200px) {
  footer .bg-footer .tl {
    margin-top: 30px;
  }
  footer .bg-footer .tl .col-xs-12 {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

.politica {
  margin-top: 68px;
  padding-bottom: 50px;
}

.politica .politica-tt {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica {
    margin-top: 57px;
    padding-bottom: 20px;
  }
  .politica .politica-tt h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .politica .politica-info {
    margin-top: 20px;
  }
  .politica .politica-info p {
    font-size: 13px;
    line-height: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */